@font-face{
    font-family:"typo";
    src: url("ressources/Helvetica.ttf") format("truetype");

    font-family:"typo1";
    src: url("ressources/bahnschrift.ttf") format("truetype");

    font-family:"typo2";
    src: url("ressources/Marcellus-Regular.ttf") format("truetype");
}

body{
    margin: 50px 170px 0 170px;
    font-family: "typo1", sans-serif;
    max-width: 90%;
    background-color: #FFFCEC;
    background-image:  url(https://swall.teahub.io/photos/small/40-402760_light-color-background-for-website.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    z-index: -1;
}


/*---------------------------------------------------------------------------*/


header{
    text-align: center;
}

header > h3{
    background-color: rgb(247, 227, 141);
    max-width: 50%;
    display: inline-block;
}

blockquote{
    font-style: italic;
    font-size: 160%;
    font-family: "typo3";
    background-color: rgb(211, 211, 211);
    max-width: 50%;
    margin: 80px 0;
    border-left: 3px solid firebrick;
    padding: 30px;
    display: inline-block;
}

#f_element{
    background-image: url(src/bien.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 290px;
}

#s_element{
    background-image: url(src/mal.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 260px;
}

#t_element{
    background-image: url(src/chat.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 265px;
}

p{
    font-size: 16px;
}

#firstP{
    font-weight: bold;
    display: inline;
}

.lgP{
    font-family: "typo3";
    font-size: 17px;
    line-height: 1.5;
    color: rgb(0, 42, 116);
}

figcaption{
    font-style: italic;
    font-size: 12px;
    font-family: "typo3";
}

q{
    font-style: italic;
}

.good{
    text-transform: uppercase;
    color: green;
}

.bad{
    text-transform: uppercase;
    color: red;
}

#chinese{
    text-decoration: underline dotted;
    color: rgb(134, 87, 0);
}

#farmers{
    text-decoration: underline dotted;
    color: rgb(61, 22, 22);
}

#img1{
    float: right;
    margin-left: 15px;
}

#img2{
    text-align: center;
    position: relative;
}

#caption{
    position: relative;
}

#img3{
    float: left;
}


/*----------------------------------TABLE-------------------------------*/


table,
td {
    border: 3px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:nth-child(odd) {background-color: #aaaaaa;}


/*-----------------------------------------LINK----------------------------------------*/


a{
    color: white;
    font-weight: bold;
}

a:visited{
    color: chartreuse;
}

.onHover{
    position: relative;
}

.onHover .textHover{
    visibility: hidden;
    background-color: rgb(173, 53, 53);
    color: #fff;
    font-size: 10px;
    text-align: center;
    width: 80px;
    border-radius: 2px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
}

.onHover:hover .textHover{
    visibility: visible;
}

#textH2{
    transform: translate(450px, -40px);
}

#textH1{
    transform: translate(65px, -45px);
}

#link{
    color: black;
}

.notification{
    background:white;
    padding:.2rem 1rem;
    border:3px solid #DDDDCC;
    border-radius: 20px;
    width:250px;
    font-weight:bold;
    color: #333300;
    right: 10px;
    bottom: 10px;
    position: fixed;
  }


/*---------------------------------------FOOTER----------------------------------------*/


footer{
    margin: 0;
    padding: 15px 15px 20px 15px;
    background-color: black;
    color: white;
    font-size: 10px;
}